html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  display:flex;
  flex-direction: column;
}

body {
    margin-top: 30px;
    margin-bottom: 105px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
div.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100% !important;
    max-height: 780px !important;
}
main {
    display: flex;
    flex: 1;
    height:780px;
}
div.wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}




/*------------------------------NEW WORK------------------------------*/

.coolbtn {
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

#ppChar{
    width: 30%;
    background-color:lightslategrey;
}
#ppCharImg{
    width:100%;
    padding:15px 10%;
}
#ppCharSelectCon {
    display: flex;
    height: 13%;
}
#ppCharSelect {
    margin: 0px auto;
    height:stretch;
    text-align: center;
    font-size: 24px;
    flex: 0.8;
}

.shadeCaster:has(select) {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    filter: drop-shadow(2px 6px 2px rgba(0, 0, 0, 0.1));
    display:flex;

}



#ppTerm {
    width: 45%;
    background-color: darkgrey;
    display: flex;
    flex-direction:column-reverse;
    flex-wrap:nowrap;
}
#ppTermText {
    margin: 15px;
    border-style: hidden solid;
    height: 100%;
}
#ppTermContainer {
    margin: 15px 0px;
    display: flex;
    font-size: 24px;
    padding: 0px 15px;
}
#ppTermTextInput {
    width: 100%;
    margin-right: 7.5px
}
#ppTermBtn {
    float: right;
    clip-path: polygon(81% 0, 100% 23%, 100% 100%, 19% 100%, 0% 77%, 0 0);
    margin-left: 7.5px;
}

input[type=button], select {
    border: hidden;
}

.shadeCaster:has(input[type="button"]) {
    height: fit-content;
    width: fit-content;
    margin: 0px auto;
    filter: drop-shadow(2px 6px 2px rgba(0, 0, 0, 0.1));
}


#ppIntra {
    width: 25%;
    background-color: lightgrey;
    display: flex;
    flex-direction:column;
}
#ppIntraImg{
    margin: 15px;
    padding: 0 20%;
}
#ppIntraBtn {
    float: right;
    clip-path: polygon(87% 0, 100% 28%, 100% 100%, 13% 100%, 0% 72%, 0 0);
    margin: 15px;
    font-size: 24px;
    padding: 4px 20px;
}

#ppPropImg {
   width:100%;
   padding:6px 12%;
}

.pdropWrapper:last-child::before{
    content:"Advertisement";
    align-content:center;
    margin:0px auto;
}

.propWrapper {
    background-color: lightgrey;
    height: 100%;
    display: flex;
    align-items:center;
    padding:5px;
    flex-wrap:wrap;
}
