<<<<<<< HEAD
﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GURPS Client</title>
</head>
<body>
    <div id="navHeader">TEST TEST TEST</div>
</body>
=======
﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GURPS Client</title>
</head>
<body class = "colorTest">

        <div class="cAdjust">
        </div>
    <div class="wrapper">
        <div>
        <img src="../images/colortest1.jpeg"/>
        <img src="../images/colortest2.jpeg"/>
        <img src="../images/colortest3.jpeg"/>
        <img src="../images/colortest4.jpeg"/>
        </div>
        <div class= "cAdjust" >
        <img src="../images/colortest1.jpeg"/>
        <img src="../images/colortest2.jpeg"/>
        <img src="../images/colortest3.jpeg"/>
        <img src="../images/colortest4.jpeg"/>
        </div>
    </div>
</body>
>>>>>>> 890b23400b65c4e48cb0d135facfa72b51657fc0
</html>