
@{
    ViewData["Title"] = "View";
}



<div id="ppChar">
    <img id="ppCharImg"  src="../images/gurps.jpg"/>
    <div id="ppCharSelectCon">
        <div class=shadeCaster>
            <select name="char" id="ppCharSelect" class="coolbtn"  text="Change Value">
                <option value="char1">Change Value</option>
                <option value="char2">Char 2</option>
                <option value="char3">Char 3</option>
                <option value="char4">Char 4</option>
            </select>
        </div>
    </div>
</div>
<div id="ppTerm">
    <div id="ppTermContainer">
        <input type="text" itemid="ppTermTextInput" id="ppTermTextInput"></>
        <div class="shadeCaster">
		    <input type="button" Value="Enter" id="ppTermBtn"/>
        </div>
    </div>
    <div id="ppTermText"></div>
</div>
<div id="ppIntra">
    <img id="ppIntraImg"  src="../images/cyber.jpg"/>
    <div class="shadeCaster">
        <input type="button" Value="Netcrawl" id="ppIntraBtn"/>
    </div>
    <div class="propWrapper">
        <img id="ppPropImg"  src="../images/propaganda.jpg"/>
    </div>
</div>