@{
ViewData["Title"] = "View";
}
<div class="d-none playerPage"></div>
<div class="row h-100 gx-3 mx-3">
<div id = "ppChar" class="ppChar d-flex flex-column col-md-6 col-xl-4 no-wrap">
    <img onclick="fullScreen(this)" class="ppCharImg img-fluid" src="../images/gurps.jpg" />
    <div class="ppCharSelectCon">
        <div class=shadeCaster>
            <select name="char" id="ppCharSelect" class="bg-dark border border-info text-info coolbtn form-select mt-2 text-center align-bottom fs-3" text="Change Value"
                onchange="charSelClick(this.value)">
                <option value="" selected disabled hidden>Change Value</option>
                <option value="1">Char 1</option>
                <option value="2">Char 2</option>
                <option value="3">Char 3</option>
                <option value="4">Char 4</option>
            </select>
        </div>
    </div>
</div>


<div class="ppTerm d-flex flex-column-reverse col-md-6 col-xl-5 col-12">
    <div class="ppTermContainer mt-3 d-flex flex-row ">
        <input type="text"  class= "bg-dark text-info flex-fill  h-100 fs-m-3" itemid="ppTermTextInput" id="ppTermTextInput"></>
        <div class="shadeCaster d-flex">
            <input type="button" Value="Enter" class="btn btn-primary btn-dark border border-info text-info m-1 h-100 align-self-center" id="ppTermBtn" onclick="addUserText()" />
        </div>
    </div>
    <div class="ppTermTextWrapper px-2 flex-fill border border-info border-top-0 border-bottom-0">
        <div id="ppTermText" class="flex-fill overflow-y"></div>
    </div>
</div>

<div class="ppIntra hideables col-xl-3 col-4 d-none d-xl-flex flex-column align-items-center">
    <img class="ppIntraImg hideables img-fluid" src="../images/cyber.jpg" />
    <div class="shadeCaster hideables">
        <input type="button" Value="Compendium" class="btn btn-primary btn-lg btn-dark border border-info text-info hideables my-4" id="ppIntraBtn" />
    </div>
    <div class="propWrapper hideables my-auto">
        <div class="shine-wrapper hideables">
            <img class="ppPropImg hideables img-fluid" src="../images/propaganda.jpg" />
            <div class="shine hideables"></div>
        </div>
    </div>
</div>

</div>

<div id="popOverBtn" class="" onclick="popOverFunc()"></div>

<div class="popupProp d-none" class="pop-up">
    <div id="popCon" class="pop-up">
        <button class="pop-up" onclick="popupFunc(this)">x</button>
    </div>
</div>